body {
  min-height: 100vh;
  display: grid;
  place-items: center;
  background-color: hsl(204, 43%, 93%);
}

.container {
  display: grid;
  height: 480px;
  width: 600px;
  background-color: hsl(204, 43%, 93%);
  border-radius: 10px;
  grid-template-rows: repeat(11, 1fr);
  grid-template-columns: repeat(12, 1fr);
}

h1,
.green,
.first-p,
h3,
h4,
.second-p,
ul {
  font-family: "Karla";
  font-size: 16px;
  font-weight: 400;
}

h1 {
  color: hsl(179, 62%, 43%);
  margin: 35px;
  font-weight: 700;
  font-size: 1.4rem;
}

.green {
  font-weight: 700;
  color: hsl(71, 73%, 54%);
  margin: 35px;
}

.top-section {
  background-color: white;
  border-start-end-radius: 10px;
  border-start-start-radius: 10px;
  grid-row-start: 1;
  grid-row-end: 6;
  grid-column-start: 1;
  grid-column-end: 13;
}

.bottom-left {
  background-color: hsl(179, 62%, 41%);
  border-bottom-left-radius: 10px;
  grid-row-start: 6;
  grid-row-end: 12;
  grid-column-start: 1;
  grid-column-end: 7;
}

.bottom-right {
  background-color: hsl(179, 62%, 43%);
  border-bottom-right-radius: 10px;
  grid-row-start: 6;
  grid-row-end: 12;
  grid-column-start: 7;
  grid-column-end: 13;
}

#left {
  margin: 40px 0 10px 40px;
  color: white;
  font-weight: 700;
}

#right {
  margin: 40px 0 0 40px;
  color: white;
  font-weight: 700;
}

ul {
  list-style-type: none;
  color: white;
  opacity: 0.65;
}

.first-p {
  margin-left: 35px;
  color: hsl(218, 22%, 67%);
}

.second-p {
  margin: -30px 0 10px 35px;
  color: white;
  opacity: 0.9;
  font-size: 0.8rem;
}

h4 {
  margin-left: 20px;
  display: inline-block;
  margin-top: 15px;
  color: white;
  font-weight: 700;
  font-size: 1.7rem;
}

button {
  font-family: "Karla";
  background-color: hsl(71, 73%, 54%);
  border-radius: 5px;
  text-align: center;
  color: white;
  border: 0;
  padding: 10px;
  width: 220px;
  cursor: pointer;
  margin: 20px 0 0 40px;
}

button:hover {
  background-color: hsl(71, 73%, 45%);
}

#frequency {
  display: inline-block;
  color: white;
  font-size: 0.8rem;
  margin-left: 5px;
  opacity: 0.7;
  position: relative;
  top: -3px;
}

@media (max-width: 650px) {
  .container {
    height: 800px;
  }

  .top-section {
    grid-column-start: 3;
    grid-column-end: 11;
  }

  .first-p {
    line-height: 30px;
  }

  .bottom-left {
    background-color: hsl(179, 62%, 41%);
    border-bottom-left-radius: 0px;
    grid-row-start: 5;
    grid-row-end: 8;
    grid-column-start: 3;
    grid-column-end: 11;
  }

  .bottom-right {
    background-color: hsl(179, 62%, 43%);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    grid-row-start: 8;
    grid-row-end: 11;
    grid-column-start: 3;
    grid-column-end: 11;
  }

  #left {
    font-size: 1.2rem;
  }

  #right {
    margin-top: 20px;
  }

  button {
    height: 40px;
    width: 75%;
  }
}
